@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #fff;
    font-family: "Quicksand";
    font-weight: 500;
}

i {
    font-size: 18px;
}

.main-containerr {
    font-size: 15px;
    border: none;
}

.pre-header {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
}

.email,
.enter {
    display: flex;
    column-gap: 10px;
}

.post-header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
}

.info {
    display: flex;
    align-items: center;
    gap: 30px;
}
.phone {
    font-size: 20px;
    font-weight: 400;
}

.logo img {
    max-width: 200px;
}

.favorite,
.orders,
.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    font-size: 18px;
}

.main-header {
    background-color: #213357;
}

.tips {
    height: 60px;
    display: flex;
    max-width: 1150px;
    margin: auto;
    justify-content: space-between;
    color: white;
    align-items: center;
    letter-spacing: 2px;
}

.catalog {
    background-color: #CE0029;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magnifier {
    background-color: grey;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #A9A9A9;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.magnifier:hover {
    color: white;
}

.slider-container {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#slider {
    position: relative;
    width: 1150px;
    height: 550px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#slider ul li {
    /* position: relative;
    height: 100%; */
    float: left;
    width: 1150px;
    height: 550px;
    overflow: hidden;
}


#slider ul li img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#prev, #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0,0,0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#prev:hover, #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}

.advantages {
    max-width: 1150px;
    margin: 70px auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.advantages div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.advantages div i {
    font-size: 30px;
}

.men-shoes {
    max-width: 1150px;
    margin: auto;
}

.shoes-container {
    display: flex;
    justify-content: space-between;
}

.shoe {
    border: 1px solid #E8E8E8;
    width: 270px;
    height: 450px;
}

figure {
    max-width: 200px;
    max-height: 100px;
    padding-top: 50px;
    padding-bottom: 80px;
}

figure img {
    width: 200px;
}

.price {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    align-items: center;
    background-color: #3bb143;
    cursor: pointer;
    margin: 20px auto;
    font-size: 20px;
}